<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">


	<servlet>
		<servlet-name>XMPPServlet</servlet-name>
		<servlet-class>project.fantalk.xmpp.XMPPServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterOauthServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.twitter.TwitterOauthServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.twitter.TwitterOauthCallback
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubanOauthServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.douban.DoubanServiceServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoubanOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.douban.DoubanServiceCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwitterOauthProxyServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.twitter.TwitterOauthProxyServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SinaServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.sina.SinaServiceServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SinaOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.sina.SinaServiceCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NetsServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.nets.NetsServiceServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NetsOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.nets.NetsServiceCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TencentOauthServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.tencent.TencentServiceServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TencentOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.tencent.TencentServiceCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SohuOauthServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.sohu.SohuServiceServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SohuOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.sohu.SohuServiceCallBack
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenRenOauthServlet</servlet-name>
		<servlet-class>
			project.fantalk.api.renren.RenRenAuthorizeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenRenOauthCallback</servlet-name>
		<servlet-class>
			project.fantalk.api.renren.RenRenAccessTokenServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DataModelUpgradeServlet</servlet-name>
		<servlet-class>
			project.fantalk.servlet.DataModelUpgradeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>project.fantalk.mail.MailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TaskAddJobServlet</servlet-name>
		<servlet-class>
			project.fantalk.task.TaskAddJobServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FanFouPushJob</servlet-name>
		<servlet-class>
			project.fantalk.task.FanFouPushJob
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FanfouPushTask</servlet-name>
		<servlet-class>
			project.fantalk.task.FanfouPushTask
		</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>XMPPServlet</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TwitterOauthServlet</servlet-name>
		<url-pattern>/oauth/twitter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwitterOauthCallback</servlet-name>
		<url-pattern>/callback/twitter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SinaServlet</servlet-name>
		<url-pattern>/oauth/sina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SinaOauthCallback</servlet-name>
		<url-pattern>/callback/sina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NetsServlet</servlet-name>
		<url-pattern>/oauth/nets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NetsOauthCallback</servlet-name>
		<url-pattern>/callback/nets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TencentOauthServlet</servlet-name>
		<url-pattern>/oauth/qq</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TencentOauthCallback</servlet-name>
		<url-pattern>/callback/qq</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoubanOauthServlet</servlet-name>
		<url-pattern>/oauth/douban</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoubanOauthCallback</servlet-name>
		<url-pattern>/callback/douban</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SohuOauthServlet</servlet-name>
		<url-pattern>/oauth/sohu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SohuOauthCallback</servlet-name>
		<url-pattern>/callback/sohu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenRenOauthServlet</servlet-name>
		<url-pattern>/oauth/renren</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RenRenOauthCallback</servlet-name>
		<url-pattern>/callback/renren</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwitterOauthProxyServlet</servlet-name>
		<url-pattern>/oauth/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataModelUpgradeServlet</servlet-name>
		<url-pattern>/admin/upgrade</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskAddJobServlet</servlet-name>
		<url-pattern>/tasks/addtask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FanFouPushJob</servlet-name>
		<url-pattern>/tasks/fanFouJobPush</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FanfouPushTask</servlet-name>
		<url-pattern>/tasks/fanfoupush</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>name_mail</web-resource-name>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>name_web</web-resource-name>
			<url-pattern>/web/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>name_callback</web-resource-name>
			<url-pattern>/callback/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>name_tasks</web-resource-name>
			<url-pattern>/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>name_admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
